@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&display=swap");

@media only screen and (min-width: 992px) {
  html {
    box-sizing: border-box;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  @font-face {
    font-family: 'COCOGOOSE';
    font-style: normal;
    font-weight: 400;
    src: local('COCOGOOSE'), url('https://fonts.cdnfonts.com/s/26936/cocogoose_trial.woff') format('woff');
  }

  @font-face {
    font-family: "Cocogoose2";
    src: url("../../font/cocoogose/Cocogoose\ Pro\ Light-trial.ttf");
  }

  :root {
    --primary-text-color: rgb(236, 82, 66);
    --secondary-grey-color: #d3d3d3;
    --tertiary-dark-color: #272a31;
    --secondary-bg-color: #d3d3d3;
    --primary-background-color: #ec5242;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  .small-menu {
    display: none;
  }

  .bar {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr;
  }

  .top-nav > nav {
    background: var(--tertiary-dark-color);
  }

  .top-nav > nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
    justify-content: flex-end;
  }

  .top-nav > nav > ul > li {
    padding: 10px 20px;
  }

  .top-nav > nav > ul > li > a {
    text-decoration: none;
    color: #fff;
  }

  header > .main-nav {
    display: flex;
    justify-content: space-around;
    background: #fff;
    box-shadow:
      0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .main-nav > nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .main-nav > nav > ul > li > a {
    text-decoration: none;
    color: var(--tertiary-dark-color);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 4px;
  }

  .main-nav > nav > ul > .quote > a {
    background: #fff;
    padding: 10px 20px;
    border: 4px solid var(--primary-background-color);
  }

  .main-nav > nav > ul > li a:hover {
    background: var(--tertiary-dark-color);
    color: #fff;
  }

  .main-nav > nav > ul > li .active {
    background: var(--tertiary-dark-color);
    color: #fff;
  }

  .main-nav > nav > ul > .quote > a:hover {
    color: #fff;
    background: var(--primary-background-color);
  }

  header > .main-nav > .logo {
    margin-top: 10px;
    padding: 0;
  }

  .main-nav > nav > ul > li {
    padding: 20px 40px;
  }

  main > .landing-page {
    display: grid;
    grid-template-columns: 1fr;
    background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../img/background/bg3.svg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
  }

  .landing-page .intro-text {
    display: flex;
    flex-direction: column;
    margin: 100px;
  }

  .landing-page .intro-text h1 {
    font-family: COCOGOOSE, sans-serif;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
  }

  .landing-page > .intro-text > .small-text {
    max-width: 400px;
    background: linear-gradient(rgb(236, 82, 66, 0.5), rgb(236, 82, 66, 0.5));
    padding: 10px;
    margin: 0 auto;
  }

  footer > .footer-container {
    display: flex;
    gap: 100px;
    padding: 10px;
    margin-left: 25%;
  }

  .footer-container > p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--tertiary-dark-color);
  }

  .footer-container > .img-container {
    padding: 10px;
  }

  main > .pre-event > p {
    color: var(--tertiary-dark-color);
    line-height: 30px;
    font-size: 16px;
    width: 600px;
    margin: 0 auto;
  }

  main > .event > p {
    color: var(--tertiary-dark-color);
    line-height: 30px;
    font-size: 16px;
    width: 600px;
    margin: 0 auto;
  }

  .intro-text > .small-text > p {
    color: var(--secondary-grey-color);
    line-height: 20px;
    font-size: 1rem;
  }

  .intro-text > h2 {
    color: #fff;
    font-size: 1.5rem;
  }

  .landing-page > .intro-text > p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
  }

  main > .partners {
    display: grid;
    grid-template-columns: 1fr;
    background: var(--tertiary-dark-color);
  }

  .partners > h2 {
    font-family: "Cocogoose2", sans-serif;
    font-size: 30px;
    color: var(--secondary-grey-color);
    text-align: center;
    position: relative;
  }

  .partners > h2::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--primary-background-color);
    top: 0;
    bottom: 0;
    width: 5%;
    right: 0;
    left: 0;
    margin: -10px auto;
  }

  main > .partners > .partner-list ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
  }

  main > .partners > .partner-list ul li {
    padding: 40px;
  }

  main > .pre-event {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  main > .pre-event > h2 {
    font-family: Cocogoose2, sans-serif;
    font-size: 20px;
    color: var(--tertiary-dark-color);
    text-align: center;
    position: relative;
    margin: 30px;
  }

  main > .pre-event > h2::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: -10px auto;
    border-bottom: 3px solid var(--primary-background-color);
    width: 5%;
    left: 0;
    right: 0;
  }

  main > .events {
    display: flex;
    flex-direction: column;
  }

  main > .event > h2 {
    font-family: Cocogoose2, sans-serif;
    font-size: 20px;
    color: var(--tertiary-dark-color);
    text-align: center;
    position: relative;
    margin-top: 40px;
  }

  main > .event > h2::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: -10px auto;
    border-bottom: 3px solid var(--primary-background-color);
    width: 10%;
    left: 0;
    right: 0;
  }

  main > .event > .event-list {
    display: flex;
    flex-direction: row;
    padding: 60px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .event > .event-list > img {
    width: 100%;
  }

  .event > .event-list > .card {
    display: flex;
    flex-direction: column;
    background:
      linear-gradient(
        rgb(189 59 45 / 70%),
        100%,
        rgba(236, 82, 66, 0.7)
      ),
      url("../../img/features/event1.svg") no-repeat center center;
    height: 100%;
    background-size: cover;
    padding: 40px;
  }

  .event-list > .card > h3 {
    font-family: "Cocogoose2", sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin: 0;
  }

  .event-list > .card > p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    margin: 0;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
